@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	font-size: 120%;
	--color1: black;
	--color2: rgb(243, 243, 243);
	--background: rgb(244, 238, 238);
	--background-light: rgba(5, 5, 5, 0.645);
	--padding: 1.5rem;
	--body-copy: 1rem;
	--footer-height: 3.75rem;
	--shadow: 0 0 0.8rem rgb(255, 255, 255);
	--line-height: 1.4rem;
}

body {
	padding-block-start: var(--padding);
	padding-block-end: var(--footer-height);
}

.background {
	width: 100%;
	height: 100%;
	position: fixed;
	inset-inline-start: 0;
	inset-block-start: 0;
	z-index: -10;
	/* I was looking for an interesting gradient for a background of my index */
	/* Saw this technique for gradient mixing with blend modes on MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Images/Using_gradients */
	/* By layering gradients in opposite directions and using a blend mode, the result is a nice complex blend */

	background:
	linear-gradient(to right, #717171, #191919),
	linear-gradient(to top, rgb(96, 96, 96), rgb(20, 20, 20));
	background-blend-mode: overlay;
}

.project {
	padding-block: var(--padding);
	border-block-start: solid;
	border-block-start-width: 0.35rem;
	margin-inline: 25%;
}

h1 {
	font-weight: 700;
	font-size: calc(3* var(--body-copy));
	font-family: "Aldrich", sans-serif;
	color: var(--background);
	padding-inline-start: var(--padding);
}

header p {
	padding-inline: 25%;
	font-style: italic;
}

button h2 {
	color: var(--color1);
}

h2, p {
	font-family: "Libre Franklin", sans-serif;
	color: var(--background);
}

h2 {
	font-weight: 700;
}

p {
	line-height: var(--line-height);
}

button {

	background: radial-gradient(ellipse,rgb(254, 255, 214) 0%, rgba(255, 255, 255, 1) 80%);

	padding-block: calc(var(--padding)/2);
	padding-inline: var(--padding);
	border-radius: 3rem;
	margin-block-end: var(--padding);
	box-shadow: var(--shadow);
}

button:hover {
	background: linear-gradient(0deg,rgba(206, 224, 224, 0.45) 0%, rgba(201, 201, 201, 0.4) 23%, rgba(235, 232, 232, 0.4) 43%, rgba(201, 201, 201, 0.45) 74%, rgba(206, 224, 224, 0.4) 100%);;
	color: var(--color2);
	transition: 200ms ease-in-out;
	box-shadow: none;
	mix-blend-mode: lighten;
}

header h1 {
	margin-block-end: var(--padding);
}

header {
	margin-block-end: var(--padding);
}

footer {
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: left;
	padding-block: calc(var(--padding) / 2);
	inset-block-end: 0;
	inset-inline-start: 0;
	padding-inline-start: var(--padding);
	column-gap: var(--padding);
	border-block-start: solid;
	border-block-start-width: 0.35rem;
	background-color: var(--background-light);
	backdrop-filter: blur(0.1rem);
}

footer button {
	margin-block-end: 0;
	padding-block: calc(var(--padding)/4);
}

/* Bringing in cursor effect from my manuscript project for fun */

.cursor {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
	opacity: 0;
  }
}

@media (width < 1200px) {
	header p, h1 {
	padding-inline: var(--padding);
}

.project {
	margin-inline: var(--padding);
}
}

@media (width < 500px) {
	:root {
		font-size: 90%;
	}

	h1 {
		font-size: calc(2* var(--body-copy));
	}


}